[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ollama = "*"
jsonschema = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
langchain = "*"
langchain-community = "*"
openai = "*"
langchain-experimental = "*"
pdfplumber = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
langchain-chroma = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
